#profile-name {
  font-weight: 700;
  font-size: 80px;
  color: #5B98C9;
  padding: 15px 65px;
}

#menu2 h3 {
  text-align: center;
  justify-content:center;
  font-weight: bolder;
  padding: 10px;
  font-size: 35px;
}

#student-gend {
  justify-content: center;
  align-items:center;
  flex-direction: row;
}


.eth-container, .Sat-container {
  padding-bottom: 30px;
}

#student-gend p {
    text-align: left !important;
    color:#f57170;
}
#student-gend h5 {
  font-size: 35px !important;
  font-weight: bold;
  text-align: left !important;
  color:#f57170;
}
#menu2 h4 {
  text-align: center;
  justify-content:center;
  font-weight: bolder;
  padding: 5px;
  font-size:28px;

}

#menu2 p {
  text-align: center;
  font-size: 15px;
}
#uni h4 {
  line-height: 0.8;
}


.profile-right h3 {
  font-size:28px;
}

.profile-right h4 {
  font-size:22px;
}

span {
  display: inline-flex;
}

#name-title {
  font-size: 28px;
  padding-top: 12px;
  margin-bottom: -15px;
}

#name-title p {
  font-size: 18px;
  padding: 8px;
}


.profile-right h1 {
font-weight:600;
}
#icon-color {
  color: #F57170;
}

.list-group-item p {
  margin-top: 3px;
  line-height: 1.5;
  font-size:16px;
}

#major {
  font-size: 16px;
  margin: 5px;
  line-height: 1.5;
}

#major-cat, #level, #rate {
  font-size: 16px;
  margin: 5px;
  line-height: 1.5;

}

#rate {
  padding-bottom:2.5vh;
  color: #D5A021;
}

#nat {
  font-size: 16px;
  margin: 5px;
  line-height: 1.5;
  margin-bottom: 10px;

}

#about-me-title {
  font-size: 20px;
  font-weight: 600;
  color: #F57170;
}

#about-me {
  margin: 5px;
  text-align: justify;
}

#about-me p , #how p {
  font-size:15px;
}

#how-title {
  font-size: 20px;
  font-weight: 600;
  color: #F57170;
}

#how {
  margin: 5px;
  text-align: justify;
}

#edit-mentor {
  padding-left: 65px;
}

.button-chat {
  margin-top: 25px;
}

#go-back {
  font-size: 15px;
}


//---------CONTAINER for profile and positioning of right and left elements

.mid-container {
  display: flex;

}



.lower-container {
  display: flex;
}

.profile-left {
  padding-left: 25px;
  padding-top: 25px;
  text-align: center;
  width: 100%;
}

.profile-left img {
  border-radius:5px;
}

 @media (max-width: 1100px) {
  .profile-left img{
    width:200px;
    height: 200px;
  }
}


@media (max-width: 750px) {

  .profile-left img {
    width:150px;
    height:150px;
    margin-right:5px;
    justify-content:center;
    flex-direction: column;


     }
}

@media (max-width: 750px) {

  .profile-left  {
    padding:0px;
    justify-content:center;


     }
}

@media (max-width: 1100px) {
  .profile-left {
    width: 100%;
  }
}

.profile-right {
  margin: 5px 30px;
  margin-left:20px;
}

@media (max-width: 1100px) {
  .profile-right {
  }
 }

.profile-card {
  display: flex;
  flex-direction: column;
  border: 5px solid #F57170;
  border-radius: 10px;
  margin: 65px 100px;
  box-shadow: 2px 2px 1px #F57170;
  background-color: white;
  min-height: 100%;
  padding: 30px 60px 50px 60px;
  position: relative;
}


@media (max-width: 750px) {

  .profile-card  {
   padding: 5px;
   margin: 1px;
   justify-content: center;
   opacity:0.95;
     }
}


.imgb {
  border-radius: 5px;
  padding-bottom: 20px;
}

/* Tab */

.nav-tabs a {
  color: #F57170;
  border: 1px solid #F57170;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #F57170;
  border-radius: 8px 8px 0px 0px;
  color: white;
}

.nav-tabs {
  border-bottom: 3px solid #F57170;
}

.nav-tabs > li > a {
  border-radius: 8px 8px 0px 0px;
}



/* FOR CHAT MODAL */

.modal-dialog {
  width: 80vw;
}

.chat-window {
  height: 500px;
  width: 100%;
  border: 1px solid #F57170;
  border-radius: 8px;
  margin: 0;
  padding: 0;
}

.modal-header {
  border-bottom: 1px solid #F57170;
  background-color: #F57170;
}

.modal-body {
  height: 75vh;
}

.modal-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  border-top: 1px solid #F57170;
  background-color: #F57170;
  border-radius: 0px 0px 8px 8px;
}

.chat-form {
  display: flex;
}

.modal-title {
  color: white;
  font-family: poppins;
}

.message {
  font-size: 15px;
}

#message {
  flex-grow: 1;
  margin-right: 1%;
  border: 1px solid #F57170;
  border-radius: 8px;
  height: 35px;
  text-indent: 12px;
  font-size: 14px;
}

#btn-send {
  border: 1px solid #F57170;
  border-radius: 8px;
  color: white;
  background-color: #5b98c9;
  height: 35px;
}

#btn-send:hover {
  color: white;
  background: #428cc4;
}


// ------------------- FOOTER styling

.footer {
  background: #F57170;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: white;
  opacity: 0.8;
}


@media (max-width: 750px) {
  .footer-copyright {
  font-size:10px;
  }
}


//------------INDEX FOOTER styling

.index-footer {
  background: #F57170;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
  clear: both;
  width: 100%;
}


//-------VIDEO CHAT-----------

#preview {
  margin-left:10px;
}

#local-media {
  width: 280px;
  height: 195px;
  position:relative;
  border: 1px solid #cececc;
  background-color: black;

}

#local-media video {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

#remote-media {
  width: 50vw;
  height: 65vh;
  border: 1px solid #cececc;
  position:relative;
  background-color: black;
}

#remote-media video {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

#log {
  height: 12vh;
  overflow-y: scroll;
  border: 1px solid #cececc;
  margin-top:10px;
  width:280px;
}

#room-controls {
  margin-top: 15px;
}

#button-leave {
  display: none;
}



#button-preview{
  margin-top: 15px;
}

#button-join {
  margin-bottom: 10px;
}


.modal-header {
  border-radius: 7.8px 7.8px 0px 0px;
}

 #ok ion-icon {
  font-size: 15px;
  padding-top:15px;
  padding-left:5px;
}

#ok p {
  font-size: 10px;
  padding-left:5px;
}


.modal-content {
  border-radius: 8px;
}

#right-payment {
  display:flex;
  justify-content:center;
  text-align:left;
  flex-direction: column;
}

#left-payment {
  display:flex;
  justify-content:center;
  text-align:right;
  flex-direction: column;
}

#left-payment h3 {
  line-height:0.8;
  font-weight: bold;
}

#right-payment h4 {
  font-weight: bold;
}

/*---------CHECK ANIMATION----------*/
svg {
  width: 100px;
  display: block;
  margin: 30px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    -webkit-animation: dash 1.5s ease-in-out;
    animation: dash 1.5s ease-in-out;
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 1.5s .6s ease-in-out forwards;
    animation: dash 1.5s .6s ease-in-out forwards;
  }
  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 1.5s .6s ease-in-out forwards;
    animation: dash-check 1.5s .6s ease-in-out forwards;
  }
}

.success {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
  color: #73AF55;
}


@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

/*---------REVIEW----------*/

.review-container {
  display:flex;
  justify-content:center;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  text-align: center;
  margin-top: -10vh;
}

.review-container h1 {
  font-family: poppins;
  font-weight: semi-bold;
}

#review_mentor_rating {
  height:35px;
  justify-content:center;
}

#review_mentor_content {
    height:100px;

}

