
<div class="home-banner" style= "background-image: url('<%= cl_image_path 'brooke-cagle-609873-unsplash.jpg' %>');">


  <%= render 'shared/navbar' %>
    <button id="button-home"></button>


</div>




