#button-home {
  outline:none;
  text-align: center;
  width: 170px;
  padding: 20px;
  border-radius:50px;
  background: #F57170;
  border: solid 1px #F57170;
  color:white;
  letter-spacing:1px;
  text-decoration: none;
  font:{
    size:15px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:#F57170;
    background: white;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }

}

