#button-home {
  outline:none;
  text-align: center;
  width: 180px;
  padding: 25px;
  border-radius:50px;
  background: #F57170;
  border: solid 1px #F57170;
  color:white;
  letter-spacing:1px;
  text-decoration: none;
  font:{
    size:18px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:#F57170;
    background: white;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }

}



#button-preview {
  outline:none;
  text-align: center;
  padding: 10px;
  border-radius:50px;
  background: #F57170;
  border: solid 1px #F57170;
  color:white;
  letter-spacing:1px;
  text-decoration: none;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:#F57170;
    background: white;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
}

#button-join {
  outline:none;
  text-align: center;
  padding: 8px;
  border-radius:50px;
  background: #0CF574;
  border: solid 1px #0CF574;
  color:white;
  letter-spacing:1px;
  text-decoration: none;
  font:{
    size:10px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:#0CF574;
    background: white;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
}

 #button-leave {

  outline:none;
  text-align: center;
  padding: 8px;
  border-radius:50px;
  background: #F22B29;
  border: solid 1px #F22B29;
  color:white;
  letter-spacing:1px;
  text-decoration: none;
  font:{
    size:10px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:#F22B29;
    background: white;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }


 }


 .btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  background: #F57170;
  transition: background 0.3s ease;
}

.btn-treehouse:hover {
  opacity: 1;
  background: #AD0103;
  text-decoration: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  color: white;
}

 .btn-treehouse-one {
  color: white;
  margin-right: 2px;
  border-radius: 20px;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  background: #F57170;
  transition: background 0.3s ease;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);

}

.btn-treehouse-one:hover {
  opacity: 1;
  background: #AD0103;
  text-decoration: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  color: white;
}

 .btn-treehouse-two {
  color: white;
  padding: 10px;
  margin-left: 2px;
  font-size: 13px;
  border-radius: 20px;
  font-weight: bold;
  background: #D5A021;
  transition: background 0.3s ease;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);

}

.btn-treehouse-two:hover {
  opacity: 1;
  background: #ffd454;
  text-decoration: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  color: white;
}

 .btn-treehouse-three {
  color: white;
  width: 130px;
  padding: 8px;
  height:35px;
  text-align:center;
  margin-left: 2px;
  font-size: 13px;
  border-radius: 20px;
  font-weight: bold;
  background: #F2A359;
  transition: background 0.3s ease;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);

}

.btn-treehouse-three:hover {
  opacity: 1;
  background: #AD0103;
  text-decoration: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  color: white;
}



